@font-face { font-family: 'NeoDunggeunmo'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Recipekorea'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Bazzi'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/Bazzi.woff') format('woff'); font-weight: normal; font-style: normal; }

html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Recipekorea', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
    background-color: #e0e5ec;;
}

h2 {
    text-align: center;
}

h3 {
    color: black;
}

.links {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
  
.links .link {
    margin-top: 20px;
}

.component {
    height: 100%;
    width: 100%;
    display: flex;
}

.component.first-component {
    background-color: #e0e5ec;
    position: relative;
}

.first-component--inside-scroller {
    position: absolute;
    right: 20px;
    top: 100px;
}

.pagination-additional-class {
    margin: 0;
    position: fixed;
    top: -30px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
}
  
.pagination-additional-class > li:not(:last-of-type) > a,
.pagination-additional-class > li:not(:last-of-type) > span {
    margin-right: 50px;
}

.pager li>a {
    margin-top: 5vw;
    background-color: #cad0d9;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

.pager li>a:visited {
    background-color: #cad0d9;
    border: none;
}
.pager li>a:hover {
    background-color: #cad0d9;
    border: none;
}
.pager li>a:active {
    background-color: #cad0d9;
    border: none;
}

@media (max-width: 768px) {
.pagination-additional-class > li:not(:last-of-type) > a,
.pagination-additional-class > li:not(:last-of-type) > span {
      margin-right: 5px;
    }
} 

.videoTag {
    margin: auto;
}